:root {
  font-size: $font-base;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #ddd;
}

::-webkit-scrollbar-thumb {
  background: $primary-light;
  cursor: pointer;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $family;
  min-height: 100vh;
  scroll-behavior: smooth;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

a {
  text-decoration: none;
}
main {
  position: relative;
  z-index: 1;
}

ul {
  list-style-position: inside;

  ul {
    margin-left: 3ch;
  }
}
