%button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  text-align: center;
  padding: $space-1 $space-2;
  font-family: $family;
  font-size: $font-base;
  transition: all 0.3s ease-in-out;
}

%button--rounded {
  @extend %button;
  border-radius: 4px;
}

%button--full-rounded {
  @extend %button;
  border-radius: 100px;
}
